/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1100px) {
.wrap,
.between_div{
	width: 950px;
}
.main_menu {
	  left: 28%;
}
}
@media only screen and (max-width : 950px) {
.wrap,
.between_div{
	width: 800px;
}
.main_menu {
	  left: 24%;
}
.ui-tabs .ui-tabs-nav li{
	float: none;
	width: 100%;
	border: 1px solid #c4c4c4;
	border-radius: 3px;
}
}
@media only screen and (max-width : 800px) {
.wrap,
.between_div{
	width: 650px;
}
.main_menu {
	  left: 19%;
}
}
@media only screen and (max-width : 650px) {
.wrap,
.between_div{
	width: 500px;
}
.main_menu {
	  left: 10%;
}
}
@media only screen and (max-width : 500px) {
.wrap,
.between_div{
	width: 350px;
}
.logo_name{
	width: 310px;
}
.logo_name h1{
	font-size: 2em;
}
.main_menu {
	  left: 18%;
		width: 300px;
}
.main_menu_child{
	display: block;
	text-align: center;
}
.first_block {
    border-bottom-left-radius: 0;
}
.last_block {
    border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
}
}
@media only screen and (max-width : 360px) {
.wrap,
.between_div{
	width: 330px;
}
.logo_name{
	width: 260px;
}
.logo_name h1{
	font-size: 1.5em;
}
.main_footer {
	text-align: left;
}
.main_footer .social_wrap{
	float: left;
	margin-top: 20px;
	width: 100%;
}
.main_footer .social_wrap ul{
	padding-left: 0;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 350px) {


}
