body {
    background-color: #fafafa !important;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 14px;
    min-width: 320px;
    position: relative;
    line-height: 1.42857;
    -webkit-font-smoothing: antialised;
    overflow-x: hidden;
    color: #555;
}
body input:focus:required:invalid, body textarea:focus:required:invalid {
    color: red;
}
label {
    text-transform: uppercase;
}
body input:required:valid, body textarea:required:valid {
    color: green;
}
.hidden {
    display: none;
}
section, .main_head {
    position: relative;
}
section {
    min-height: 700px;
    padding-top: 40px;
}
section h1 {
    width: 100%;
    text-align: center;
    color: #362d5c;
}
section h2 {
    text-align: center;
    margin: 0;
    color: #362d5c;
    font-weight: 500;
    font-size: 2em;
}
section h3 {
    font-weight: 400;
}
section p {
    text-align: justify;
    line-height: 1.5em;
    color: #555;
}

/*********************************************
					Всплывающее меню
*********************************************/

.main_menu {
    display: none;
    position: fixed;
    top: 0;
    left: 31%;
    height: 34px;
    width: 486px;
    z-index: 20;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 0.95;
    font-size: 0.7em;
    text-transform: uppercase;
    color: #fafafa;
}
.first_block {
    border-bottom-left-radius: 8px;
}
.last_block {
    border-bottom-right-radius: 8px;
}
.main_menu a {
    text-decoration: none;
    color: #fafafa;
}
.main_menu_child {
    display: inline-block;
    padding: 10px 20px;
    background-color: #362d5c;
    border: 1px solid rgba(0, 0, 0, .0);
    border-top: 3px solid rgba(0, 0, 0, .0);
}
.main_menu_child:hover {
    background-color: #fafafa;
    color: #362d5c;
    border-right: 1px solid #362d5c;
    border-bottom: 1px solid #362d5c;
    border-left: 1px solid #362d5c;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.headhesive {
    display: block;
    -webkit-transform: translateY(-600%);
    -ms-transform: translateY(-600%);
    -o-transform: translateY(-600%);
    transform: translateY(-600%);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.headhesive--stick {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.active_button_main_menu {
    border-top: 3px solid #fafafa;
}

/*********************************************
					Logo etc.
*********************************************/

.logo_name {
    text-transform: uppercase;
    color: #FAFAFA;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    padding-top: 100px;
}
.logo_name h1 {
    padding: 5px 30px;
    border-bottom: 2px dashed #FAFAFA;
    font-size: 3em;
    margin: 0;
    letter-spacing: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.logo_name p {
    font-style: 14px;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 100px;
    color: #7A7A7A;
    letter-spacing: 1px;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.svg_1 {
    height: 50px;
    margin: 20px;
    z-index: 1;
    position: absolute;
    color: #FAFAFA;
    margin: 0 auto;
}
.svg_wrap {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-right: 30px;
    right: 55px;
}

/* Меню */

.wrapper_menu {
    width: 100%;
    height: 2em;
    text-align: center;
}
.button_menu {
    text-align: center;
    margin: 0 auto;
    color: #FAFAFA;
    border: 1px solid #FAFAFA;
    border-radius: 10px;
    text-align: center;
    width: 140px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.menu {
    position: absolute;
    border-bottom: 1px solid #FAFAFA;
    height: 45px;
    line-height: 45px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.toggle {
    display: none;
}
#toggle {
    display: none;
}
.label_menu {
    text-transform: uppercase;
    color: #FAFAFA;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    transition: all .15s ease;
    width: 100%;
}
.label_menu:hover {
    background-color: #FAFAFA;
    color: #362d5c;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#toggle:checked + label {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    color: #362d5c;
    background-color: #FAFAFA;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.box {
    display: none;
    z-index: 10;
    width: 140px;
    height: 45px;
    background-color: #362d5c;
    border: 1px solid #cecfd5;
    border-radius: 6px;
}
.box a {
    color: #FAFAFA;
}
.box:hover>a {
    color: #362d5c;
}
.box:hover {
    background-color: #FAFAFA;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.about_menu {
    right: 130px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.projects {
    right: -1px;
    border-radius: 0;
}
.feedback {
    left: 138px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#toggle:checked ~ div {
    display: block;
    position: absolute;
    max-height: 500px;
    overflow: hidden;
    transition: all .15s ease;
}
.inner {
    position: absolute;
    width: 100%;
    height: 100%;
}
.button {
    width: 100%;
    height: 45px;
    position: absolute;
    top: 45px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.button img {
    width: 50%;
    margin: 10%;
}
.button:hover {
    background-color: #FAFAFA;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

/* Section_1 */

.section_1 {
    background-color: #fafafa;
}
.between_div {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQUlEQVQYV2NkIBIw4lPnbV//HyS/9WAjI06FMEV4FaIrAinGMBGbIgyFuBShKMSnCK6QkCKwQmIUoSgEhRW+MAUAAQ8kC8M30HgAAAAASUVORK5CYII=) repeat;
    height: 20px;
    margin: 20px auto 2px;
    width: 1100px;
}
.skills h2>img {
    height: 20px;
    width: 21px;
}
.skills p>img {
    height: 20px;
    width: 21px;
}
.skills_img_remodal_1 {
    height: 100px;
}
.skills_img_remodal {
    height: 600px;
}
.remodal ul li {
    list-style-type: none;
}
.skills p {
    width: 95%;
    margin: 10px auto;
    /*text-align: center;*/
}
.interests p {
    text-align: center;
}
.why_its_important{
  margin-top: -5px;
}
.wrap {
    width: 1100px;
    margin: 0 auto;
}
.about {
    padding: 10px;
    border: 1px solid #ddd;
    background: #fafafa;
    border-radius: 3px;
    margin: 10px;
}
.content_about img {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border: none;
    width: 100%;
    height: auto;
}
.content_about {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    max-width: 1100px;
    margin: 20px auto;
    justify-content: center;
    -ms-align-items: stretch;
    align-items: stretch;
    align-content: stretch;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap;
}
.about {
    flex: 1 1 450px;
    text-align: center;
}
.about_last {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex: 1 1 450px;
    text-align: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 10px;
    margin: 10px;
}

/*.about_last p {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: #4b3f80;
    letter-spacing: 1px;
}
.interests_list img {
    width: 400px;
    margin: 20px 0;
}
.about_content {
    flex: 1 1 450px;
    -ms-align-items: center;
    align-items: center;
}
.about_img {
    flex: 1 1 350px;
/*}*/

.first_p_section_1 {
    text-align: center;
    font-size: 1.2em;
}

/*.horizontal_line {
    height: 2px;
    width: 95%;
    border-bottom: 2px dashed #bbb;
}*/

.img_block {
    max-width: 400px;
    margin: 20px;
    height: 350px;
    text-align: center;
    /*box-shadow: 10px 10px 6px -6px #777777;*/
    display: block;
    overflow: hidden;
    position: relative;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
}
.img_block_special {
    max-width: 650px;
    margin: 20px;
    text-align: center;
    display: block;
    overflow: hidden;
    position: relative;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
}
.img_block_first {
    max-width: 600px;
}
.img_block .over_block .img_block_special {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9900;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.img_block:hover .over_block, .img_block_special:hover .over_block {
    display: block;
}
.img_block span, .img_block_special span {
    background: rgba(64, 55, 99, 0.5);
    width: 100%;
    height: 0px;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 60px;
    position: absolute;
    display: block;
    overflow: hidden;
    bottom: 0px;
    left: 0;
    z-index: 9910;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.img_block:hover span, .img_block_special:hover span {
    bottom: 0;
    height: 60px;
    color: #ffffff;
}

/* Section_2 */

.section_2 {
    background-color: #fafafa;
    min-height: 250px;
    margin-bottom: 60px;
}
.my_projects_box {
    position: relative;
}
#toggle_2, #toggle_3, #toggle_4 {
    display: none;
}
.section_2 ul {
    width: 1100px;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.section_2 li {
    display: inline-block;
    text-align: center;
    height: 61px;
    top: 15px;
    border-right: 1px solid lightgray;
    overflow: hidden;
}
.section_2 li:nth-child(3) {
    border-right: none;
}
.content_box_1, .content_box_2, .content_box_3 {
    display: none;
    position: absolute;
    border: 1px solid lightgray;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 1100px;
    top: 62px;
    right: 0;
}
#toggle_2:checked ~ div, #toggle_3:checked ~ div, #toggle_4:checked ~ div {
    display: block;
    background-color: #eee;
}
#toggle_2:checked ~ label, #toggle_3:checked ~ label, #toggle_4:checked ~ label {
    background-color: #eee;
}
.content_box_inner {
    min-height: 140px;
    padding: 10px;
}
.header_box h1 {
    font-size: 1.5em;
    text-align: left;
    margin: 20px 0 0 20px;
}
.header_box p {
    margin-top: 0;
}
.header_box a {
    color: gray;
}
.header_box {
    border: 1px solid lightgray;
    border-radius: 3px;
}
.content_box_projects img {
    float: left;
    width: 100px;
    margin: 20px;
}
.label_1 {
    padding: 22px 155px 23px;
    cursor: pointer;
}
.label_2 {
    padding: 22px 116px 23px 120px;
    cursor: pointer;
}
.label_3 {
    padding: 22px 150px 23px 92px;
    cursor: pointer;
}
.ul_tabs li a {
    text-transform: uppercase;
    float: none !important;
    line-height: 60px;
    cursor: pointer !important;
}
.ui-tabs-anchor {
    text-align: center !important;
    padding-top: 20px !important;
}
.ui-state-default, .ui-corner-top {
    width: 33%;
}
/*.img_wrapper{
  float: left;
  overflow: hidden;
  width: 140px;
  height: 140px;
  border-radius: 80px;
  margin-right: 20px;
}*/
#tabs a img {
    width: 140px;
    border-radius: 80px;
    float: left;
    margin: 0 20px 20px 0;
    transition: all 0.25s;
}
.tab_container {
    margin-bottom: 30px;
}
.tab_container a img:hover {
    transform: scale(1.1);
    transition-delay: 0s;
}
.class_1{
  margin-bottom: 90px;
}
.class_2{
  margin-bottom: 70px;
}
#tabs-1 p,
#tabs-2 p,
#tabs-3 p{
  text-align: center;
}
/*******************************************************/


/* section_3
/*******************************************************/

.section_3 {
    background-color: #fafafa;
    min-height: 640px;
}
.contacts_icon {
    padding-top: 25px;
    font-size: 40px;
    color: #362d5c;
}
.contact_box h3 {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
}
.contact_box p {
    margin: 10px 0;
}
.main_form button {
    border: 1px solid #362d5c;
    color: #362d5c;
    line-height: 40px;
    padding: 0px 25px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 10px 0;
    float: right;
    border-radius: 3px;
}
.main_form button:hover {
    background-color: #362d5c;
    color: #fafafa;
    transition: 0.3s;
}
.form-group {
    display: block;
    margin: 30px 0;
}
.form-group input, .form-group textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 5px;
    line-height: 40px;
    text-indent: 12px;
    font-size: 12px;
    background-color: transparent;
    border-radius: 3px;
}
.form-group textarea {
    height: 150px;
}
.color_element {
    color: #362d5c;
}
.contact_box li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 20px;
}
.contact_box ul {
    margin: 0;
    padding-left: 0;
}
.contact_box a {
    color: #362d5c;
}

/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/

.main_footer {
    height: 60px;
    line-height: 60px;
    font-size: 13px;
    font-weight: 300;
}
.main_footer .social_wrap {
    float: right;
}
.main_footer li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 20px;
    line-height: 0;
}
.main_footer ul {
    margin: 0;
}
.bg_dark {
    background-color: #362d5c;
    color: #fafafa;
}
.bg_dark .s_descr::after {
    background-color: #fafafa;
}
.bg_dark a {
    color: #fafafa;
}
footer .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

/* Переопределение стилей jq ui для табов*/

.ui-tabs .ui-tabs-nav {
    width: 100%;
    background-color: transparent;
}

/*кнопка cancel*/

.remodal-cancel {
    display: none;
}
