@media only screen and (max-width : 800px) {
.col-1-3,
.col-1-2,
.col-1-1,
.col-1-4  {
	display: block;
	vertical-align: top;
	margin: 0 auto;
	width: 80%;
}

.container {
	width: 475px;
}

.grid{
	width: 460px;
}

.social_wrap{
	width: 460px;
}

.container_7 h3{
	margin: 0;
}

.col-1-4 img{
	margin: 10px 0;
}

.rectangle,
.rectangle_2{
	display: none;
}

.f_h3{
	padding: 15px 15px 15px 0;
}

.container_5 .grid img {
    margin: 15px 0 10px 0;
}

.grid .container_3_h3 {
    margin: 0 auto;
}

.grid .container_5_h3 {
    margin-top: 0;
}
}

@media only screen and (max-width : 500px) {

.container {
	width: 300px;
}

.grid{
	width: 280px;
}

.social_wrap{
	width: 280px;
}
nav ul li{
	display: block;
	padding: 5px;
}
 .lobster{
	font-size: 30px;
}

h1{
	padding: 30px 0 40px 0;
	font-size: 40px;
}

header h3{
	padding-bottom: 50px;
}




.container_6 h3 {
    margin-top: 0;
}

.container_4 .grid img {
    margin: 10px;
}

footer {
	text-align: center;
}

footer ul{
	margin-right: 80px;
}

strong:before{
	content: '\A';
	white-space: pre;
}



}
