/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
	License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  Пользовательские стили
  ========================================
*/


body{
	background-color: #FFF;
}

a{
	text-decoration: none;
	color: #fff;
}

p{
	font: 14px PT Sans;
	font-weight: 400;
	color: #787b80;
	line-height: 24px;
}
/*
  ========================================
	header
  ========================================
*/

header{
	background: url(../img/header.png) no-repeat;
	height: 589px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	width: 800px;
}
.lobster{
	font: italic 52px Lobster;
	text-align: center;
	text-transform: capitalize;
	padding: 30px;
}



li{
	font: 13px "Open Sans";
	font-weight: 600;
	padding: 20px;
	display: inline;
}

h1{
	font: 53px Ubuntu;
	text-align: center;
	padding: 100px 0 40px 0;
}

h3{
	font: 14px PT Sans;
	font-weight: 700;
	padding-bottom: 100px;
}

.btn {
	font: 14px PT Sans;
	border-radius: 25px;
	color: #50c3af;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid #50c3af;
	padding: 10px 30px;
}

.btn:hover{
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	background-color: #50c3af;
	color: #fff;
}

a:hover{
	color: #50c3af;
}

.rectangle{
	position: absolute;
	top: 355px;
	left: 180px;
}

.rectangle_2{
	position: absolute;
	top: 355px;
	right: 180px;
}


/*
	========================================
	Сетка
	========================================
*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	width: 800px;
	margin: 0 auto;
}

.grid{
	width: 740px;
	margin: 0 auto;
}


.col-1-3 {
  width: 33.33%;
}

.col-1-2 {
  width: 50%;
}

.col-1-1{
	width: 100%;
}

.col-1-4{
	width: 25%;
}


.col-1-3,
.col-1-2,
.col-1-1 {
  display: inline-block;
  vertical-align: top;
}

.grid,
.col-1-3,
.col-1-2,
.col-1-1  {
  padding-left: 15px;
  padding-right: 15px;
}
/*
	========================================
	container_1
	========================================
*/

.container_1{
	min-height: 300px;
	background-color: #eeeeef;
	text-align: center;
}

.container_1 .grid h3{
	padding: 15px;
}

.grid h3{
	font-size: 16px;
	color: #40474e;
	padding: 15px 15px 15px 0;
	text-transform: uppercase;
}

.container_h3{
	border-bottom: 1px solid #e2e3e4;
}

.grid img{
	margin: 60px 0 10px 0;
}

.container_1 img{
	height: 40px;
}	

.grid p{
	margin-top: 25px;
}

/*
	========================================
	container_2
	========================================
*/

.container_2{
	min-height: 520px;
	background-color: #f5f5f5;
	text-align: left;
}

.container_2 p{
	text-align: left;
}

.container_2 img{
	width: 100%;
}

.container_2 a,
.container_3 a,
.container_5 a,
.container_6 a{
	font-size: 14px;
	text-transform: none;
	font-weight: 400;
	padding: 6px 15px 8px 15px;
	margin: 35px 0 60px 0;
}

/*
	========================================
	container_3
	========================================
*/

.container_3 img{
	float: left;
}

.container_3 a,
.container_6 a{
	background-color: #d2d5da;
	border-color: #d2d5da;
	color: #fff;
}

.grid .container_3_h3{
	margin: 50px 300px 0 0;
	padding-left: 60px;
}

.container_3{
	background-color: #eeeeef;
}

/*
	========================================
	container_4
	========================================
*/

.container_4{
	min-height: 440px;
	background-color: #f5f5f5;
}

.container_4 img{
	width: 100%;
}

.container_4 a{
	font: 14px PT Sans;
	color: #50c3af;
	text-decoration: none;
	margin: 25px 0 60px 0;
	display: inline-block;
}

.container_4 a:hover{
	color: #6A6D72;
}

/*
	========================================
	container_5
	========================================
*/

.container_5 {
	background-color: #eeeeef;
}

.container_5 img{
	float: left;
}

.grid .container_5_h3{
	margin-top: 45px;
	padding-left: 40px;
}

/*
	========================================
	container_6
	========================================
*/

.container_6{
	min-height: 333px;
	background-color: #f5f5f5;	
}

.container_6 img{
	width: 100%;
	margin-bottom: 50px;
}

.container_6 h3{
	margin-top: 45px;
}
/*
	========================================
	container_7
	========================================
*/

.container_7{
	min-height: 260px;
	background-color: #50c3af;	
	text-align: center;
	color: #fff;
	padding-top: 40px;
}

.container_7 img{
	height: 25px;
}

.col-1-4{
	display: inline-block;
}

.container_7 h3{
	border-bottom: 1px solid rgba(245, 245, 245, 0.5);
	margin: 0px 200px;
	color: #fff;
}

/*
	========================================
	footer
	========================================
*/

footer a{
	color: #787b80;
}

footer ul li{
	float: right;
	padding: 0px 10px;
}	


.social_wrap{
	width: 690px;
	height: 60px;
	line-height: 60px;
	font: 14px PT Sans;
	padding: 20px;
	color: #787b80;
	margin: 0 auto;
}

strong{
	color: #45484C;
}
