body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

section,
.main_head {
  position: relative; }

h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 35px; }

section {
  padding: 70px 0 80px; }
  section h2 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0px 0px 15px; }
  section .personal_header {
    font-size: 13px;
    text-align: left;
    margin-bottom: 30px;
    color: #555; }

.s_descr_wrap {
  text-align: center; }
  .s_descr_wrap .s_descr {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    margin-bottom: 130px; }
    .s_descr_wrap .s_descr::after {
      content: "";
      height: 1px;
      left: 50%;
      margin-left: -75px;
      margin-top: 60px;
      position: absolute;
      width: 150px; }

.main_head {
  min-height: 620px;
  padding-top: 20px; }

.loader {
  background: none repeat scroll 0 0 #EFEFEF;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }

svg {
  height: 70px;
  width: 65px;
  z-index: 1;
  position: relative; }

.toggle_mnu {
  width: 50px;
  height: 50px;
  float: right;
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 101;
  border: none;
  background-color: #222222; }

body {
  background-color: #333; }

.sandwich {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200;
  display: block; }

.sw-topper_top {
  position: relative;
  left: 17px;
  top: 12px;
  width: 15px;
  height: 2px;
  background: #e0e0e0;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  display: block; }

.sw-topper {
  position: relative;
  left: 7px;
  top: 19px;
  width: 35px;
  height: 2px;
  background: #e0e0e0;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  display: block; }

.sw-bottom {
  position: relative;
  top: 23px;
  left: 7px;
  width: 35px;
  height: 2px;
  background: #e0e0e0;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s;
  display: block; }

.sw-footer {
  position: relative;
  width: 35px;
  height: 2px;
  top: 26px;
  left: 7px;
  background: #e0e0e0;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s;
  display: block; }

.sw-footer_foot {
  position: relative;
  width: 35px;
  height: 2px;
  top: 30px;
  left: 7px;
  background: #e0e0e0;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s;
  display: block; }

.sandwich.active .sw-topper {
  top: 23px;
  left: 10px;
  width: 30px;
  transform: rotate(140deg); }
.sandwich.active .sw-bottom {
  top: 21px;
  left: 10px;
  width: 30px;
  transform: rotate(-140deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }
.sandwich.active .sw-topper_top {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }
.sandwich.active .sw-footer_foot {
  opacity: 0;
  top: 0;
  transform: rotate(-180deg); }

.top_mnu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 50;
  right: 0;
  top: 0;
  display: none; }
  .top_mnu ul,
  .top_mnu li {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .top_mnu ul {
    margin-top: 180px;
    text-align: center; }
    .top_mnu ul a {
      color: #fff;
      display: block;
      text-transform: uppercase;
      font-size: 12px;
      position: relative;
      height: 60px;
      outline: none; }
      .top_mnu ul a span {
        display: block;
        position: relative;
        top: -40px;
        left: 0;
        height: 100%;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        .top_mnu ul a span:hover {
          background-color: rgba(255, 255, 255, 0.08); }

.top_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }
  .top_wrapper .top_descr {
    display: table-row; }
    .top_wrapper .top_descr .top_centered {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
  .top_wrapper .top_text {
    display: inline-block; }
    .top_wrapper .top_text h1 {
      display: inline-block;
      padding: 5px 40px;
      border: 4px solid #222222;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.8em;
      margin: 0;
      background-color: rgba(0, 0, 0, 0.28);
      box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 2000px;
      -webkit-animation-delay: 0.7s;
      -moz-animation-delay: 0.7s;
      animation-delay: 0.7s; }
    .top_wrapper .top_text p {
      text-transform: uppercase;
      font-size: 1em;
      -webkit-animation-delay: 1s;
      -moz-animation-delay: 1s;
      animation-delay: 1s; }

.h-opasifi {
  opacity: 0.2;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  transition: all 2s ease; }

.main_footer {
  padding: 50px 0;
  font-size: 13px;
  font-weight: 300; }
  .main_footer .social_wrap {
    float: right; }

.main_footer li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px 0 0;
  font-size: 20px;
  line-height: 0; }
.main_footer ul {
  margin: 0; }

.person {
  text-align: center; }
  .person img {
    max-width: 220px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 40px; }

.s_about p {
  margin-bottom: 30px; }
.s_about ul,
.s_about li {
  margin: 0;
  padding: 0;
  list-style-type: none; }
.s_about li {
  margin-bottom: 10px; }
.s_about .social_wrap {
  margin-top: 30px; }
  .s_about .social_wrap li {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px; }

.resume_container .left {
  text-align: right;
  border-right: #d2d2d2 1px solid; }
  .resume_container .left h3 {
    text-align: right; }
.resume_container .right {
  text-align: left; }
  .resume_container .right h3 {
    text-align: left; }
.resume_container h3 {
  margin-top: 30px; }
.resume_container .year {
  font-weight: 600;
  color: #fff;
  display: inline-block;
  margin-bottom: 10px;
  padding: 0px 10px;
  font-style: italic; }
.resume_container strong {
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase; }
.resume_container .resume_icon {
  font-size: 40px;
  margin-bottom: 35px; }
.resume_container .resume_item {
  margin-bottom: 0; }

.s_portfolio ul,
.s_portfolio li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center; }
.s_portfolio li {
  display: inline-block;
  margin: 0px 20px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  line-height: 2; }
.s_portfolio ul {
  margin-bottom: 50px; }

.portfolio_item {
  display: none;
  padding: 0; }
  .portfolio_item img {
    width: 100%;
    height: 100%; }
  .portfolio_item .port_item_cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding-top: 15%;
    opacity: 0;
    transition: all 0.5s; }
  .portfolio_item:hover .port_item_cont {
    opacity: 1;
    padding-top: 20%; }
  .portfolio_item h3 {
    color: #fff;
    margin-bottom: 0; }
  .portfolio_item a {
    background-color: transparent;
    border: #fff 1px solid;
    padding: 2px 10px;
    display: inline-block;
    cursor: pointer; }

.port_descr {
  background-color: #fff;
  max-width: 720px;
  min-height: 540px;
  margin: auto; }
  .port_descr p,
  .port_descr h3 {
    padding: 20px;
    padding-bottom: 0; }
  .port_descr h3 {
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 550;
    margin-top: 20px;
    padding-top: 25px; }
  .port_descr p {
    margin-top: 0;
    text-align: center; }
  .port_descr img {
    width: 100%;
    margin-top: 20px;
    height: 100%; }

.modal-box-content {
  position: relative; }

.contact_box {
  margin-bottom: 30px; }
  .contact_box h3 {
    text-align: left;
    color: #000;
    margin-bottom: 0px;
    font-size: 14px; }
  .contact_box p {
    font-size: 12px;
    margin-top: 5px;
    color: #888; }
  .contact_box .contacts_icon {
    font-size: 30px; }

.main_form button {
  border: none;
  color: #fff;
  line-height: 40px;
  padding: 0px 25px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
  float: right; }

.form-group {
  display: block;
  margin-bottom: 20px; }
  .form-group input,
  .form-group textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 5px;
    line-height: 40px;
    text-indent: 12px;
    font-size: 12px;
    background-color: transparent; }

/*# sourceMappingURL=main.css.map */
