/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.resume_container .left,
	.resume_container .right h3,
	.resume_container .left h3,
	.resume_container .resume_icon
	{
		text-align: left;
		margin-bottom: 10px;
	}


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.top_wrapper	.top_text h1 {
      font-size: 1.2em;
      margin-left: 10px;
      margin-right: 40px;
      padding: 10px 15px;
      }
.top_wrapper	.top_text p {
	position: relative;
	right: 20px;
}      
.main_footer {
	text-align: left;
}
.main_footer .social_wrap{
	float: left;
	margin-top: 20px;
	width: 100%;
}
.main_footer .social_wrap ul{
	padding-left: 0;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 350px) {


}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {


}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}