body {
  color: #222222;
  letter-spacing: 1px; }

a {
  color: tomato; }

.s_about li {
  color: #222222; }

.color_element {
  color: tomato; }

.color_bg {
  background-color: tomato; }

.color_border {
  border-color: tomato; }

.bg_light {
  background-color: #FAFAFA; }

.bg_white {
  background-color: #fff; }

.bg_dark {
  background-color: #222222;
  color: #fff; }
  .bg_dark .s_descr::after {
    background-color: #fff; }
  .bg_dark a {
    color: #fff; }

.main_color_bg {
  background-color: #222222; }

.toggle_mnu {
  background-color: #222222; }

.logo_container {
  float: left; }

svg path {
  fill: #222222; }

.top-mnu a:hover {
  color: tomato; }
.top-mnu a {
  letter-spacing: 3px; }

.top_text h1 {
  color: #222222; }

.s_descr {
  letter-spacing: 2px; }
  .s_descr::after {
    background-color: #222222; }

section h3 {
  letter-spacing: 3px;
  color: #888; }

.s_about p:nth-child(even) {
  color: tomato; }

.personal_header {
  letter-spacing: 2px; }

.resume_container h3 {
  color: #222222;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 600; }
.resume_container .left .resume_description strong {
  margin-left: 10px; }
.resume_container .right .resume_description strong {
  margin-right: 10px; }

.resume_item {
  margin-bottom: 30px; }
  .resume_item .year {
    background-color: tomato; }
  .resume_item .resume_description {
    letter-spacing: 1px; }

.s_portfolio li {
  color: #888; }
  .s_portfolio li.active {
    color: #fff;
    border-bottom: 1px solid tomato; }

.portfolio_item .port_item_cont a {
  border-color: tomato;
  color: tomato; }

.main_footer a {
  color: tomato; }

.contacts_icon {
  color: tomato; }

.text-danger {
  color: tomato; }

form input:focus,
form textarea:focus {
  border: 1px solid tomato; }
form input,
form textarea {
  letter-spacing: 2px; }
form button {
  background-color: tomato;
  letter-spacing: 2px; }
form .form-group {
  letter-spacing: 2px;
  color: #888; }

/*# sourceMappingURL=tomato.css.map */
