body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 280px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

section,
.main_head {
  position: relative; }

.main_head {
  min-height: 620px;
  padding-top: 20px; }

.loader {
  background: none repeat scroll 0 0 #FFFFFF;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 400px;
    width: 400px;
    margin-top: -30px;
    margin-left: -30px;
    left: 38%;
    top: 27%;
    position: absolute; }

.logo_container {
  float: left; }

svg {
  height: 80px;
  width: 75px;
  z-index: 51;
  position: fixed;
  left: 20px;
  top: 20px;
}

svg path {
  fill: #e0e0e0; }

.toggle_mnu{
  width: 80px;
  height: 75px;
  float: right;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 101;
  border: none;
  background-color: #282828;
}

body {
  background-color: #333;
}
.sandwich {
  width: 65px;
  height: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200;
  display: block;
}
.sw-topper {
  position: relative;
  top: 0;
  width: 67px;
  height: 5px;
  background: #e0e0e0;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  display: block;
/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
  position: relative;
  width: 68px;
  height: 5px;
  top: 20px;
  background: #e0e0e0;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s;
  display: block;
}
.sw-footer {
  position: relative;
  width: 68px;
  height: 5px;
  top: 40px;
  background: #e0e0e0;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s;
  display: block;
}
.sandwich.active .sw-topper {
  top: 23px;
  transform: rotate(140deg);
}
.sandwich.active .sw-bottom {
  top: 19px;
  transform: rotate(-140deg);
}
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg);
}


/*# sourceMappingURL=main.css.map */

.top-mnu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0 ,0 ,0 ,0.85);
  z-index: 50;
  right: 0;
  top: 0;
  display: none;  }
  .top-mnu ul,
  .top-mnu li{
    padding: 20px;
    list-style-type: none;
    margin: 0;}
    .top-mnu ul {
      margin-top: 130px;
      text-align: center;}
.top-mnu li a{
  color: #e0e0e0;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.top-mnu li a:hover{
  color: #fff;
  letter-spacing: 6px;
  font-size: 14px;
  background-color: rgba(255,255,255,.05);
  -webkit-transition: all 0.5s ease;
  -moz-transition:  all 0.5s ease;
  -o-transition:  all 0.5s ease;
  transition:  all 0.5s ease;
  box-shadow: 0 0 20px rgba(255,255,255,.05);
}

.top_wrapper{
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.top_wrapper .top_descr {
  display: table-row; 
}
.top_wrapper .top_descr .top_centered {
  display: table-cell;
  text-align: center;
  vertical-align: middle; 
}
.top_wrapper .top_text h1 {
      display: inline-block;
      padding: 10px 35px;
      color: #282828;
      border: 8px solid #282828;
      font-weight: bold;
      font-size: 2.8em;
      background-color: rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 1000px rgba(0, 0, 0, 0.9);
      margin-left: 10px;
      margin-right: 10px;
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s; }
.top_wrapper .top_text p {
  color: #3C3C3C;
}

.h-opasifi{
  opacity: .5;
}
