@import "bourbon/bourbon"

body
	font-family: "Raleway", sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.42857
	-webkit-font-smoothing: antialised
	overflow-x: hidden

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

.hidden
	display: none

//header


section,
.main_head
	position: relative
h3
	text-align: center
	text-transform: uppercase
	font-weight: 500
	font-size: 12px
	margin-top: 0
	margin-bottom: 35px
	
section
	padding: 70px 0 80px
	h2
		text-align: center
		font-size: 24px
		text-transform: uppercase
		margin: 0px 0px 15px
	.personal_header
		font-size: 13px
		text-align: left
		margin-bottom: 30px
		color: #555


.s_descr_wrap
	text-align: center
	.s_descr
		display: inline-block
		text-transform: uppercase
		font-size: 12px
		position: relative
		margin-bottom: 130px
		&::after
			content: ""
			height: 1px
			left: 50%
			margin-left: -75px
			margin-top: 60px
			position: absolute
			width: 150px

.main_head
	min-height: 620px
	padding-top: 20px

//гифка при загрузке сайта
.loader
	background: none repeat scroll 0 0 #EFEFEF
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999

svg
	height: 70px
	width: 65px
	z-index: 1
	position: relative

// Ниже располагается блок со стилями к кнопке меню

$w: 35px
$h: 2px
$l: 7px

.toggle_mnu
	width: 50px
	height: 50px
	float: right
	position: fixed
	right: 30px
	top: 30px
	z-index: 101
	border: none
	background-color: #222222

body 
	background-color: #333

.sandwich 
	width: 50px
	height: 50px
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	margin: auto
	z-index: 200
	display: block

.sw-topper_top
	position: relative
	left: 17px
	top: 12px
	width: 15px
	height: $h
	background: #e0e0e0
	border: none
	border-radius: 4px 4px 4px 4px
	transition: transform 0.5s, top 0.2s
	display: block

.sw-topper 
	position: relative
	left: $l
	top: 19px
	width: $w
	height: $h
	background: #e0e0e0
	border: none
	border-radius: 4px 4px 4px 4px
	transition: transform 0.5s, top 0.2s
	display: block

.sw-bottom 
	position: relative
	top: 23px	
	left: $l
	width: $w
	height: $h
	background: #e0e0e0
	border: none
	border-radius: 4px 4px 4px 4px
	transition: transform 0.5s, top 0.2s
	transition-delay: 0.2s, 0s
	display: block

.sw-footer 
	position: relative
	width: $w
	height: $h
	top: 26px
	left: $l
	background: #e0e0e0
	border: none
	border-radius: 4px 4px 4px 4px
	transition: all 0.5s
	transition-delay: 0.1s
	display: block

.sw-footer_foot
	position: relative
	width: $w
	height: $h
	top: 30px
	left: $l
	background: #e0e0e0
	border: none
	border-radius: 4px 4px 4px 4px
	transition: all 0.5s
	transition-delay: 0.1s
	display: block

.sandwich.active
	.sw-topper 
		top: 23px
		left: 10px
		width: 30px
		transform: rotate(140deg)

	.sw-bottom 
		top: 21px 
		left: 10px
		width: 30px
		transform: rotate(-140deg)

	.sw-footer 
		opacity: 0
		top: 0
		transform: rotate(180deg)
	
	.sw-topper_top
		opacity: 0
		top: 0
		transform: rotate(180deg)

	.sw-footer_foot
		opacity: 0
		top: 0
		transform: rotate(-180deg)

.top_mnu 
	position: fixed
	width: 100%
	height: 100%
	background-color: rgba(0 ,0 ,0 ,0.85)
	z-index: 50
	right: 0
	top: 0
	display: none
	ul,
	li
		list-style-type: none
		padding: 0
		margin: 0
	ul
		margin-top: 180px
		text-align: center
		a
			color: #fff
			display: block
			text-transform: uppercase
			font-size: 12px
			position: relative
			height: 60px
			outline: none
			span
				display: block
				position: relative
				top: -40px
				left: 0
				height: 100%
				+transition(all 0.5s ease)
				&:hover
					background-color: rgba(255,255,255,.08)

.top_wrapper
	display: table
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	z-index: 10
	.top_descr
		display: table-row
		.top_centered
			display: table-cell
			text-align: center
			vertical-align: middle
	.top_text
		display: inline-block
		h1
			display: inline-block
			padding: 5px 40px
			border: 4px solid #222222
			text-transform: uppercase
			font-weight: bold
			font-size: 1.8em
			margin: 0
			background-color: rgba(0,0,0,.28)
			box-shadow: rgba(0,0,0,.2) 0 0 0 2000px
			+animation-delay(0.7s)

		p
			text-transform: uppercase
			font-size: 1em
			+animation-delay(1s)


.h-opasifi
	opacity: .2
	+transition(all 2s ease)

.main_footer
	padding: 50px 0
	font-size: 13px
	font-weight: 300
	.social_wrap
		float: right


.main_footer
	ul
	li
		list-style-type: none
		display: inline-block
		margin: 0 10px 0 0 
		font-size: 20px
		line-height: 0
	ul
		margin: 0


.person
	text-align: center
	img
		max-width: 220px
		display: inline-block
		border-radius: 50%
		margin-bottom: 40px

.s_about
	p
		margin-bottom: 30px
	ul,
	li
		margin: 0
		padding: 0
		list-style-type: none
	li
		margin-bottom: 10px
	.social_wrap
		margin-top: 30px
		li
			display: inline-block
			margin-right: 10px
			font-size: 20px

.resume_container 
	.left
		text-align: right
		border-right: #d2d2d2 1px solid
		h3
			text-align: right
	.right
		text-align: left
		h3
			text-align: left
	h3
		margin-top: 30px
	.year
		font-weight: 600		
		color: #fff
		display: inline-block
		margin-bottom: 10px
		padding: 0px 10px
		font-style: italic 
	strong
		font-weight: 600
		font-style: normal
		text-transform: uppercase 
	.resume_icon
		font-size: 40px
		margin-bottom: 35px
	.resume_item	
		&:last-child
		margin-bottom: 0	
		

.s_portfolio 
	ul,
	li
		list-style-type: none
		padding: 0
		margin: 0
		text-align: center
	li
		display: inline-block
		margin: 0px 20px
		text-transform: uppercase
		font-size: 12px
		cursor: pointer
		line-height: 2
	ul
		margin-bottom: 50px

.portfolio_item
	display: none
	padding: 0
	img
		width: 100%
		height: 100%
	.port_item_cont
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba(0,0,0,.7)
		text-align: center
		padding-top: 15%
		opacity: 0
		transition: all .5s
	&:hover .port_item_cont
		opacity: 1
		padding-top: 20%
	h3
		color: #fff
		margin-bottom: 0
	a
		background-color: transparent
		border: #fff 1px solid
		padding: 2px 10px
		display: inline-block
		cursor: pointer

.port_descr
	background-color: #fff
	max-width: 720px
	min-height: 540px
	margin: auto
	p,
	h3
		padding: 20px
		padding-bottom: 0
	h3
		margin-bottom: 0
		text-align: center
		text-transform: uppercase
		font-weight: 550
		margin-top: 20px
		padding-top: 25px
	p
		margin-top: 0
		text-align: center
	img
		width: 100%
		margin-top: 20px
		height: 100%

.modal-box-content
	position: relative

// контакрты

.contact_box
	margin-bottom: 30px
	h3
		text-align: left
		color: #000
		margin-bottom: 0px
		font-size: 14px
	p
		font-size: 12px
		margin-top: 5px
		color: #888
	.contacts_icon
		font-size: 30px
	
.main_form
	button
		border: none
		color: #fff
		line-height: 40px
		padding: 0px 25px
		font-size: 16px
		text-transform: uppercase
		font-weight: 600
		margin-top: 10px
		float: right

.form-group
	display: block
	margin-bottom: 20px
	input,
	textarea
		display: block
		width: 100%
		border: 1px solid #ccc
		margin-top: 5px
		line-height: 40px
		text-indent: 12px
		font-size: 12px
		background-color: transparent
