@import "bourbon/bourbon"

$color: tomato //Theme skin
$text_color: #888
$main_color: #222222
$bg_light: #FAFAFA

@mixin kerning($kerning)
	letter-spacing: $kerning + px

body
	color: $main_color
	+kerning(1)


a
	color: $color

p,
body .main_footer
.s_about li
	color: $main_color

.color_element
	color: $color
.color_bg
	background-color: $color
.color_border
	border-color: $color

.bg_light
	background-color: $bg_light

.bg_white
	background-color: #fff


.bg_dark
	background-color: $main_color
	color: #fff
	.s_descr::after
		background-color: #fff
	a
		color: #fff

.main_color_bg
	background-color: $main_color
.toggle_mnu
	background-color: $main_color

.logo_container 
	float: left

svg
	path
		fill: $main_color

.top-mnu 
	a:hover
		color: $color
	a
		+kerning(3)

.top_text
	h1
		color: $main_color

.s_descr
	+kerning(2)
	&::after
		background-color: $main_color

section
	h3
		+kerning(3)
		color: $text_color


.s_about
	p:nth-child(even)
		color: $color

.personal_header
	+kerning(2)

.resume_container 
	h3
		color: $main_color
		+kerning(2)
		font-size: 16px
		font-weight: 600
	.left .resume_description strong
		margin-left: 10px
	.right .resume_description strong
		margin-right: 10px
	
.resume_item	
	.year
		background-color: $color
	.resume_description
		+kerning(1)
	margin-bottom: 30px

.s_portfolio 
	li
		color: $text_color
		&.active
			color: #fff
			border-bottom: 1px solid $color

.portfolio_item .port_item_cont
	a
		border-color: $color
		color: $color

.main_footer
	a
		color: $color

.contacts_icon
	color: $color

.text-danger
	color: $color

form
	input:focus,
	textarea:focus
		border: 1px solid $color
	input,
	textarea
		+kerning(2)	
	button
		background-color: $color
		+kerning(2)
	.form-group
		+kerning(2)
		color: $text_color
