*::-webkit-input-placeholder {
	color: #888;
	opacity: 0.3;
}
*:-moz-placeholder {
	color: #888;
	opacity: 0.3;
}
*::-moz-placeholder {
	color: #888;
	opacity: 0.3;
}
*:-ms-input-placeholder {
	color: #888;
	opacity: 0.3;
}


body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border: 2px solid red;
}
body input:required:valid,
body textarea:required:valid {
	border: 2px solid green;
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

.header_topline{
	background-color: #43484C;
	color: #fff;
	padding: 20px 0;
}
.header_topline a{
	color: #fff;
}
.top_links{
	display: inline-block;
	vertical-align: middle;
}
.top_links a{
	text-decoration: underline;
}
.top_links a:hover{
	text-decoration: none;
}
.soc_buttons{
	float: right;
}
.soc_buttons a{
	font-size: 20px;
	margin-left: 8px;
}
.auth_button,
.main_mnu_button{
	border: none;
	background-color: transparent;
	font-size: 20px;
}
.main_mnu_button{
	color: #fff;
	padding: 12px 15px 0;
}
.logo{
	display: block;
	padding: 15px 0;
	color: #fff;
  font-family: 'Nautilus Pompilius';
	font-size: 40px;
	text-align: center;
}
.top_header{
	background-color: #4AAAD2;
}
.main_mnu{
	background-color: #3797bf;
	color: #fff;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.main_mnu a{
	color: #fff;
	padding: 15px;
	display: block;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.main_mnu a:hover{
	background-color: #2787af;
}
.main_mnu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
}
.top_contacts{
	float: right;
	font-size: 20px;
	padding: 0 20px;
	vertical-align: middle;
	line-height: 53px;
}
.top_contacts:hover{
	background-color: #2787af;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.main_mnu ul li{
	display: inline-block;
}
h1{
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 35px;
	letter-spacing: -1px;
  font-family: 'Roboto Condensed';
	font-weight: 400;
}
.slider_container img{
	max-width: 100%;
	margin-bottom: 40px;
}
.slider_container{
	position: relative;
}
.next_button,
.prev_button{
	color: #fff;
	font-size: 40px;
	position: absolute;
	z-index: 10;
	cursor: pointer;
	top: 25%;
}
.next_button{
	right: 20px;
}
.prev_button{
	left: 20px;
}
.main_mnu ul{
	z-index: 12;
}
.order{
	background-color: #eee;
	padding: 25px 0;
}
.sell_descr{
	font-size: 22px;
	padding-top: 5px;
}
.button{
	background-color: #2bc6a4;
	border: medium none;
	border-radius: 5px;
	color: #fff;
	display: block;
	padding: 10px 20px;
	text-transform: uppercase;

}
.button:hover{
	background-color: #31dab5;
}
.button:active{
	background-color: #28a88c;
}
.sell_right .button{
	float: right;
}
.pop_form input[type=text]{
	display: block;
	width: 100%;
	line-height: 20px;
	margin: 0 auto 12px;
	border: 2px solid #999;
}
.pop_form .button{
	margin: auto;
}
.pop_form p{
	margin: 10px auto 15px;
	text-align: center;
	font-weight: normal;
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
}
.blog_item img{
	width: 100%;
	margin-bottom: 20px;
}
.blog_item h3{
	text-transform: uppercase;
	font-family: 'Roboto Condensed';
	font-weight: 700;
	margin-bottom: 10px;
}
.blog_item h3 a{
	text-decoration: underline;
}
.blog_item p{
	margin-top: 0;
}
.right_aside{
	margin: 30px 0 ;
	padding: 15px 20px;
	background-color: #eee;
	border-radius: 5px;
}
