/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .sell_right .button{
    float: none;
    margin: 15px auto;
    max-width: 250px;
  }
  .sell_descr{
    text-align: center;
  }
  .blog_item h3{
    text-align: center;
  }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.top_links{
  display: none;
  position: absolute;
  background-color: #575757;
  margin-top: 20px;
  padding: 14px;
  vertical-align: middle;
  width: 100%;
  z-index: 1;
}
.auth_button{display: inline-block;}
.main_mnu ul{
  display: none;
  position: absolute;
  background-color: #3797bf;
  width: 100%;
}
.main_mnu ul li{
  display: block;
  text-align: center;
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .top_links{
    display: inline-block !important;
  }
  .main_mnu ul{
    display: inline-block !important;
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
